a{
    text-decoration: none;
    color:inherit
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 1rem;
}
.btn-custom {
    margin-right: 10px;
    background: linear-gradient(to right, #B2FEFA, #0ED2F7);
    color: black;
}

.content {
    flex: 1;
    width: 100%;
    padding: 1rem;
}

.canvas-container {
    position: relative;
    width:  calc(100% - 40px);
    height: 300px;
    overflow: hidden;
    margin:20px;
}

.custom-bg{
    background: linear-gradient(to right, #fefeb2, #d8f70e);
}
